<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title%></title>
    <!--Agrega la porcion de codigo que esta en la ruta, para el CSS-->
    <%- include('partial/head')%>
</head>
<body>
    <!--Incluye la porcion de codigo que esta en la ruta -->
    <%- include('partial/navigation')%>

    <main class="vh-100 container pt-3 text-center d-flex justify-content-center align-items-center">
        <section>
            <h1 class="display-1">Acerca de</h1>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium, tenetur eos? Obcaecati, magnam nihil fugit accusantium dolores incidunt aliquid doloremque doloribus quidem delectus asperiores recusandae aperiam iusto illum autem aspernatur praesentium modi laborum animi laudantium laboriosam ut omnis itaque! Libero, alias porro asperiores provident enim doloremque dolore illum in minima voluptatibus, sed vel illo ducimus autem voluptate corporis! Earum aliquam quaerat soluta natus culpa nostrum reprehenderit, veritatis facere repellendus, error itaque autem consequuntur eius commodi consectetur minima fugit nobis totam! Aliquid quasi odio perspiciatis vel minima atque voluptatibus error porro animi numquam? Rem quas vel aliquam nam veritatis delectus totam voluptates et deserunt esse illum, doloribus maiores placeat alias, fugit voluptate earum quidem est distinctio adipisci? Ipsam nostrum explicabo quo sequi nisi ipsa autem, minus itaque iusto delectus provident deleniti molestiae optio, beatae inventore doloremque rerum. Sit assumenda provident officia? Impedit quasi velit repellat nobis at quo natus minima, eveniet alias sequi quas odit porro quos inventore vel quibusdam ex ducimus nesciunt esse recusandae odio ipsa. Adipisci, reiciendis omnis. Beatae maiores neque doloribus nisi ducimus cumque odio ipsum, repudiandae modi, harum commodi reiciendis eum sint similique quis eligendi est quo reprehenderit illum. Beatae obcaecati tempore minima reprehenderit odio, voluptatibus ab.
            </p>
        </section>
    </main>
    <%- include('partial/footer')%>
</body>
</html>